body{
    background-color:  rgb(63, 28, 106);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* partie navbare */
nav{
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    top: 0;
/*     position: fixed;
    z-index: 8; */
}
input[type="checkbox"]{
    display: none;
}
nav .main_pages{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .main_pages a{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: white;
}

label{
    display: none;
}
.monicone{
    width: 25px;
    height: 25px;
}

nav .main_pages input{
    width: 200px;
    height: 30px;
    border-radius: 100px;
    border: none;
    background: none;
    padding-left: 20px;
    outline-style: none;
    color: #FFF;
    padding-right: 20px;
}

.recherche{ 
    width: 200px;
    height: 30px;
    border-radius: 100px;
    border: none;
    background-color:  rgba(14, 6, 24, 0.245);
    display: flex;
    justify-content: space-between;
    
}
.recherche div img{ 
    width: 20px;
    height: 20px;
    margin-top: -68px;
    background-size: cover;
    background-repeat: no-repeat;

    
}a{
    text-decoration: none;
}

@media all and (max-width: 1728px){

    nav{
        height: 60px;
    }
    nav .main_pages{
        display: none;
    }
    nav .main_pages{
        display: none;
        flex-direction: column;
        height: 150px;
        background: #1A093E;
    }
    nav .main_pages .logo-de-banque{
        display: none;
    }
    nav .main_pages a{
          width: 50%;
          font-size: 20px;
          margin: -20px;
    }
    .recherche{
        display: none;
    }
    label{
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
        float: right;
    }
    #toggle:checked + .main_pages{
        display: flex;
    }
    .arrier-bleue .grande-div-de-tous{
        overflow: hidden;
    }
    .contenaire .grand-carrer-text .description{
        margin-left: 10px;
    }
    .contenaire .grand-carrer-text .description-carte{
        font-size: 1rem;
        width: auto;
        height: auto;
    }
    .contenaire .carte-image{
        width: 300px;
        height: 300px;
    }
    .div-text-presentation .card-text-image{
        width: 300px;
        height: 300px;
    }
    .div-text-presentation .card-text-propos{
        width: 300px;
        height: auto;
    }
    .les-sous-parties-de-stat .parti2{
        width: 300px;
        height: 300px;
    }
    .partie-choix-carte .sous-choix .carte-maintenat{
        width: 400px;
        height: auto;
        margin-left: 50px;
    }
    .grande-case .case-des-propos1 {
        width: 300px;
        height: auto;
    }
    .grande-case .case-des-propos2 {
        width: 300px;
        height: auto;
        /* margin-top: -200px; */
    }
/*     .grande-case .case-des-propos1 .copy{
        display: none;
    } */
    .temoignage a .fleche-sticky{
        top: 700px;
    }
    .procedure .sous-procedure .les-4-etapes{
        
        margin-left: 300px;

    }
    .le-contenant .div-text-presentation{
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
    }

}

@media all and (max-width: 991px){

    nav{
        height: 60px;
    }
    nav .main_pages{
        display: none;
    }
    nav .main_pages{
        display: none;
        flex-direction: column;
        height: 150px;
        background: #1A093E;
    }
    nav .main_pages .logo-de-banque{
        display: none;
    }
    nav .main_pages a{
          width: 50%;
          font-size: 20px;
          margin: -20px;
    }
    .recherche{
        display: none;
    }
    label{
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
        float: right;
    }
    #toggle:checked + .main_pages{
        display: flex;
    }
    .arrier-bleue .grande-div-de-tous{
        overflow: hidden;
    }
    .contenaire .grand-carrer-text .description{
        margin-left: 10px;
    }
    .contenaire .grand-carrer-text .description-carte{
        font-size: 1rem;
        width: auto;
        height: auto;
    }
    .contenaire .carte-image{
        width: 300px;
        height: 300px;
    }
    .div-text-presentation .card-text-image{
        width: 300px;
        height: 300px;
    }
    .div-text-presentation .card-text-propos{
        width: 300px;
        height: auto;
    }
    .les-sous-parties-de-stat .parti2{
        width: 300px;
        height: 300px;
    }
    .partie-choix-carte .sous-choix .carte-maintenat{
        width: 400px;
        height: auto;
        margin-left: 50px;
    }
    .grande-case .case-des-propos1 {
        width: 300px;
        height: auto;
    }
    .grande-case .case-des-propos2 {
        width: 300px;
        height: auto;
        /* margin-top: -200px; */
    }
    .grande-case .case-des-propos1 .copy{
        display: none;
    }
    .temoignage a .fleche-sticky{
        top: 700px;
    }
    .sous-procedure{
        margin-left: -250px;
    }
    .procedure .sous-procedure .comment{
        font-size: 1rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 250px;
   }
   body{
    overflow-x: hidden;
   }
}



.grand-logo{
    border: none;
}
/* partie text */
.contenaire{
    margin-top: 100px;
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.grand-carrer-text{
    display: grid;
    width: 500px;
    /* flex-wrap: wrap; */
}

.gros-text{
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;

}

.description{
    width: 300px;
    height: 100px;
    font-size: 3rem;
    color: white;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 115.5%; /* 57.75px */
}

.description-carte{
    width: 410px;
    font-size: 1.2rem;
    color: white;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
/*     margin-top: -8rem; */
}

.bouton-reserver{
    width: 220px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #7B34D4;
    background: #FFF;
    box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
    color: #7B34D4;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mes-trois-petits-bouton{
    display: flex;
    align-items: center;
    margin: 20px;
}
.cercle1{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.716);
}


.carte-image{
    width: 450px;
    height: 400px;
    background-image: url('../imagerie/master\ card.png');
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 0px solid black;
}
.carre-poucentage{
    display: flex;
    width: 100%;
    max-width: 1400px;
    grid-template-columns: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.element{
    width: 311px;
    height: 226px;
    flex-shrink: 0;
    margin: 30px;
    border-radius: 5px;
    background: #FFF;
}
.element .petite-icone{
    width: 78px;
    height: 73px;
    flex-shrink: 0;
    background-image: url('./../imagerie/mode-de-paiement.png');
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.element .intro{
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 150px;
}
.element .chiffre{
    flex-shrink: 0;
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 50px;
    letter-spacing: 2.24px;
}
.element .la-valeur{
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.24px;
    margin-left: 130px;
}
.element .decrit{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.element .petite-icone{
    width: 78px;
    height: 73px;
    flex-shrink: 0;
    background-image: url('./../imagerie/mode-de-paiement.png');
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.element .intro{
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 150px;
}
.element .chiffre{
    flex-shrink: 0;
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 50px;
    letter-spacing: 2.24px;
}
.element .la-valeur{
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.24px;
    margin-left: 130px;
}
.element .decrit{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.element .petite-icone2{
    width: 78px;
    height: 73px;
    flex-shrink: 0;
    background-image: url('./../imagerie/donner-de-largent.png');
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.element .petite-icone3{
    width: 78px;
    height: 73px;
    flex-shrink: 0;
    background-image: url('./../imagerie/paiement-securise.png');
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.mot-meilleure-choix{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
}
.mot-meilleure-choix .choix{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.mot-meilleure-choix .petit-pub{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: auto;
    flex-shrink: 0;
}

.logo-et-ecriture{
    display: grid;
    justify-content: center;
    align-items: center;
}

.grande-div-de-tous{
    margin: 0 auto;
    margin-top: 350px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.card1{
    width: 500px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card2{
    width: 500px;
    height: 400px;
    background-image: url('./../imagerie/telephone-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.card3{
    width: 500px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.titre{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.petit-text{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* .globe-icone{
    width: 100px;
    height: 100px;
    stroke: #FFF;
} */
.zone-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.case-icone1{
    width: 60px;
    height: 60px;
    background-image: url('./../imagerie/broche-de-localisation.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.case-icone2{
    width: 60px;
    height: 60px;
    background-image: url('./../imagerie/banque.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.case-icone3{
    width: 60px;
    height: 60px;
    background-image: url('./../imagerie/service-clients.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.case-icone4{
    width: 60px;
    height: 60px;
    background-image: url('./../imagerie/silhouette-de-famille.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.case-icone5{
    width: 60px;
    height: 60px;
    background-image: url('./../imagerie/profil-de-lutilisateur.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.case-icone6{
    width: 60px;
    height: 60px;
    background-image: url('./../imagerie/parametres.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ensavoirplus{
    margin: 0 auto;
    display: grid;
    width: 300px;
    height: 300px;
}
.bouton-en-savoir-plus1{
    width: 220px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #7B34D4;
    background: #FFF;
    box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
    color: #7B34D4;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}

.arrier-bleue{
    width: 100%;
    height: 1000px;
    background: #1A093E;
    margin-top: -350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.le-contenant{
    width: 100%;
    height: 1000px auto;
    background: #D9D9D9;

}
.div-text-presentation{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.card-de-text1{
    width: 400px;
    height: 300px;
}
.card-de-text1 p{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.card-de-text2{
    width: 300px;
    height: 300px;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card-de-text3{
    width: 300px;
    height: 300px;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card-de-text4{
    width: 300px;
    height: 300px;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.carde-stat1{
    width: 100px;
    height: 100px;
    background-image: url('./../imagerie/ecran.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 100px;
}
.carde-stat2{
    width: 100px;
    height: 100px;
    background-image: url('./../imagerie/boite-de-reception.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 100px;
}
.carde-stat3{
    width: 100px;
    height: 100px;
    background-image: url('./../imagerie/objectif.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 100px;
}
.card-de-text2 p{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 100px;
}
.card-de-text3 p{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 70px;
}
.card-de-text4 p{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 70px;
}
.card-de-text2 span{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
}
.card-de-text3 span{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
}
.card-de-text4 span{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
}
.card-text-image{
    width: 709px;
    height: 365px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url('./../imagerie/paiement-par-carte-bancaire.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card-text-propos{
    width: 709px;
    height: 365px;
    flex-shrink: 0;
    margin-top: 50px;
}
.card-text-propos p{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}



.temoignage{
    width: 100%;
    height: 1000px auto;
    background: #FFF;
}
.fleche-sticky {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #7B34D4;
    background-image: url("./../imagerie/fleche-vers-le-haut.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 950px;
    z-index: 1;
}
.card-de-temoignage{
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-image-de-temoignage img{
    width: 300px;
    height: 300px;
    /* background-image: url('./../imagerie/fabrication.jpeg'); */
    background-size: cover;
    background-repeat: no-repeat;
}
blockquote{
    width: 400px;
    height: auto;
}
blockquote p{
    color: #000;
    font-family: 'Poppins' sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.partie-statistique{
    width: 100%;
    height: 1000px auto;
    background: #1A093E;
}
.les-sous-parties-de-stat{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    flex-wrap: wrap;
}
.parti1{
    width: 300px;
    height: 200px;
}
.parti1 p{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.parti2{
    width: 400px;
    height: 400px;
    background-image: url('./../imagerie/statistiques.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.parti3{
    width: 300px;
    height: 200px;
}
.parti3 p{
    color: rgba(255, 255, 255, 0.58);
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.voir-tous-stat{
    margin-top: 100px;
    border-radius: 100px;
    background: #7B34D4;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 306px;
    height: 52px;
    flex-shrink: 0;
    border: none;
}
.partie-choix-carte{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.sous-choix{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

}
.commander{
    border-radius: 100px;
    background: #7B34D4;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 160px;
    height: 52px;
    flex-shrink: 0;
    border: none;
    margin-top: -20px;
}
.carte-maintenat{
    width: 758px;
    height: 53px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.procedure{
    width: 100%;
    height: auto;
    background: #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center;

}
.sous-procedure .comment{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}
.les-4-etapes{

    display: flex;
    flex-wrap: wrap;
    
}
.etape1{

    margin: 20px;

}
.ico1{
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ico1 div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url('./../imagerie/carte-didentite.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ico2{
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ico2 div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url('./../imagerie/formulaire.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ico3{
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ico3 div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url('./../imagerie/offres.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.ico4{
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ico4 div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url('./../imagerie/carte-de-debit.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.titre-de-para{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.81px;
}
.etape1 span{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.63px;
}

.grande-case-questions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.case-des-questions-partie1{
    width: 500px;
    height: 800px;
}
.case-des-questions-partie2{
    width: 500px;
    height: 800px;
}
.case-q{
    width: 100%;
    height: 200px;
}
.titre-de-q{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.case-q{
    color: rgba(217, 217, 217, 0.67);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.abonnement{
    width: 300px;
    height: 30px;
    background: rgba(255, 255, 255, 0.88);
    margin-top: -10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abonnement input{
    width: 80%;
    height: 100%;
    border: none;
    outline-style: none;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background: none;
}
.logomail{
    width: 20px;
    height: 20px;
    background-image: url('./../imagerie/poster.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.abonnement input::placeholder{
    color: #000;
}

.grande-case{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.case-des-propos1{
    width: 400px;
    height: auto;
}
.logo-en-bas{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.mbank-style{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -5px;
}
.image-la{
    width: 100px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.copy{
    color: rgba(217, 217, 217, 0.67);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 562px;
    height: 33px;
    flex-shrink: 0;
    margin-top: 200px;
}


.case-des-propos2{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.case-pro{
    color: rgba(217, 217, 217, 0.67);
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#nom-et-prenom{
    width: 80%;
    height: 52px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.88);
    border: none;
    outline-style: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-size: 1.3rem;
}
#nom-et-prenom::placeholder{
    color: #000;
    font-size: 1rem;
}
#email{
    width: 80%;
    height: 52px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.88);
    border: none;
    outline-style: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-size: 1.3rem;
}
#email::placeholder{
    color: #000;
    font-size: 1rem;
}
textarea{
    width: 80%;
    height: 200px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.88);
    border: none;
    outline-style: none;
    color: #000;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
textarea::placeholder{
    color: #000;
    font-size: 1rem;
}

.s-media{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}