body{
    opacity: 0.9;
    background: rgba(123, 52, 212, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 900px;
    height: auto;
    background: #1A093E;
    margin-top: 100px;
}
.titre-et-logo{

    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.logo {
    display: flex;
}
.logo img{
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 15px;
}
.logo p{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.titre p{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.contenaire{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.type-de-compte{
    display: flex;
    justify-content: flex-start;
}
.type-de-compte p{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tous-les-input{
    display: flex;
    justify-content: space-between;
}
.cheick-input2{
    width: auto;
}
.cheick-input3{
    width: auto;
}
.cheick-input4{
    width: 80px;
    height: 80px;
    background: #D9D9D9;
    margin-top: -30px;
}
.cheick-input4 input{
    width: 80px;
    height: 80px;
}
.tous-les-input label{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.details-du-demandeur{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.details-du-demandeur span{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.champs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.groupe-input1 input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: #D9D9D9;
    border: none;
    outline-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
}
.groupe-input1 input::placeholder{
    color: black;
    font-size: 1rem;
}
.tous-les-input1{
    display: flex;
    justify-content: space-evenly;
}
.tous-les-input1 label{
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.details-du-demandeur button{
    width: 200px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #7B34D4;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

@media all and (max-width: 991px){
    .contenaire{
        margin-top: 80px;
    }
    .type-de-compte{
        margin-top: 120px;
    }
    .tous-les-input{
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .groupe-input1 input{
        margin-bottom: 1rem;
    }
}
.groupe-input2 span{
    font-size: 1rem;
    color: #FFF;
}
textarea{
    width: 500px;
    height: 200px;
    margin-top: 40px;
    outline-style: none;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
}
textarea::placeholder{
    color: black;
    text-align: center;
}
.groupe-input3 span{
    color: #FFF;
}
@media all and (max-width: 991px){
    textarea{
        width: 300px;
        height: 100px;
        margin-left: -30px;
    }
    .champs{
        margin-left: 20px;
    }
    .groupe-input3 span{
        color: #FFF;
        font-size: .8rem;
    }
    body{
        overflow-x: hidden;
    }
}